page-landing {
    .loginBG{
        
                background-image: url("../assets/imgs/headerBg.jpg");
                background-size: cover;
                position: relative;
                width: 100%;
                text-align: center;
                background-position: center;
            }

            .landing-text{
                color: white;
                margin-top: 150px !important;
                
            }

}
