<ion-header>
  <ion-toolbar color="pc-header" style="margin-bottom:0px;">
    <ion-buttons left>
      <button ion-button menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Citizen Initiatives
    </ion-title>
    <ion-buttons end>
      <button ion-button menuToggle="right">
        <ion-icon name="apps"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button>
        <ion-icon name="globe"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar no-border-top color="pc-header" style="margin-top:-10px;">
      <ion-segment [(ngModel)]="latest">
        <ion-segment-button value="latest">
          Latest
        </ion-segment-button>
        <ion-segment-button value="archived">
          Archived
        </ion-segment-button>
        <ion-segment-button value="ranked">
            Ranked
            <ion-select [(ngModel)]="gaming" interface="popover">
                <ion-option value="nes" selected>Most Votes Overall</ion-option>
                <ion-option value="n64">Most Votes For</ion-option>
                <ion-option value="ps">Most Votes Against</ion-option>
                
              </ion-select>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content padding>
    
  <div [ngSwitch]="latest">
      <ion-list *ngSwitchCase="'latest'">
        <ion-row *ngFor="let initiative of initiativelist">
          <ion-col col-12>
            <h1 class="initiative-title">
              <span class="pcBlack"><a href="#" (click)="singleinitiative(initiative.id)">
                <strong>{{ initiative.title }}</strong></a>
              </span>
            </h1>
          </ion-col>
          <ion-col col-12>
            <span class="initiative-subtitle">
              <strong><span class="pcGray">Category:</span> </strong>{{initiative.catname}} 
              <span class="pcGreen">By {{initiative.fullname}} </span>
              <span class="pcGray">{{initiative.createddate}} </span>
            </span>
          </ion-col>
          
          <ion-col col-12>
            <img  *ngIf="initiative.paths!=''" class="initiative-img" src="assets/imgs/imagelib.png" alt="Add a mirror to Woodland">
          </ion-col>
          <ion-col col-12>
            <span>
              {{initiative.shortdescription}}<a href="#" class="pcGreen" style="font-size:12px;" (click)="singleinitiative(initiative.id)">See More</a>
            </span>
          </ion-col>
          <ion-col col-12>
            <ion-icon md="md-thumbs-up" class="margin-right-sm margin-left-sm" color="secondary-pc"></ion-icon>
            <ion-icon md="md-thumbs-down" color="danger-pc" class="margin-right-sm"></ion-icon>
            <ion-icon md="md-share" class="margin-left-sm pcGray margin-left-sm-share"></ion-icon>
          </ion-col>
        </ion-row>
        <hr>
        
      </ion-list>
  
      <ion-list *ngSwitchCase="'archived'">
        <ion-row>
          <ion-col col-12>
            <h1 class="initiative-title">
              <span class="pcBlack"><a href="#" (click)="singleinitiative()">
                <strong>Add a mirror to Woodland Ave and Pierson Pl so cars can see traffic coming</strong></a>
              </span>
            </h1>
          </ion-col>
          <ion-col col-12>
            <span class="initiative-subtitle">
              <strong><span class="pcGray">Category:</span> </strong>Public Safety <span class="pcGreen">By John Doe </span>
              <span style="margin-left:10px;">Nov 29 </span>
            </span>
          </ion-col>
          <ion-col col-12>
            <img  class="initiative-img" src="assets/imgs/imagelib.png" alt="Add a mirror to Woodland">
          </ion-col>
          <ion-col col-12>
            <span>
              Cars exiting Pierson Place where it runs into Woodland Ave have a very hard time ...<a href="#" class="pcGreen" style="font-size:12px;">See More</a>
            </span>
          </ion-col>
          <ion-col col-12>
            <ion-icon md="md-thumbs-up" class="margin-right-sm margin-left-sm" color="secondary-pc"></ion-icon>
            <ion-icon md="md-thumbs-down" color="danger-pc" class="margin-right-sm"></ion-icon>
            <ion-icon md="md-share" class="margin-right-sm pcGray"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-list>
  
      <ion-list *ngSwitchCase="'ranked'">
        <ion-row>
          <ion-col col-12>
            <h1 class="initiative-title">
              <span class="pcBlack"><a href="#" (click)="singleinitiative()">
                <strong>Add a mirror to Woodland Ave and Pierson Pl so cars can see traffic coming</strong></a>
              </span>
            </h1>
          </ion-col>
          <ion-col col-12>
            <span class="initiative-subtitle">
              <strong><span class="pcGray">Category:</span> </strong>Public Safety <span class="pcGreen">By John Doe </span>
              <span style="margin-left:10px;">Nov 29 </span>
            </span>
          </ion-col>
          <ion-col col-12>
            <img  class="initiative-img" src="assets/imgs/imagelib.png" alt="Add a mirror to Woodland">
          </ion-col>
          <ion-col col-12>
            <span>
              Cars exiting Pierson Place where it runs into Woodland Ave have a very hard time ...<a href="#" class="pcGreen" style="font-size:12px;">See More</a>
            </span>
          </ion-col>
          <ion-col col-12>
            <ion-icon md="md-thumbs-up" class="margin-right-sm margin-left-sm" color="secondary-pc"></ion-icon>
            <ion-icon md="md-thumbs-down" color="danger-pc" class="margin-right-sm"></ion-icon>
            <ion-icon md="md-share" class="margin-right-sm pcGray"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-list>
    </div>
    <ion-fab bottom right>
      <button ion-fab color="pc-header" mini (click)="addInitiative();"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
      
</ion-content>
