page-initiative {

.pcGreen{
    
    color: #019f83;
    }

.pcGreen a{
    text-decoration: none;
    color: #019f83;
}
.pcGray{
    color: #58595a
}
.initiative-title{
    font-size: 16px !important;
    
}
.initiative-subtitle{
    font-size: 12px !important;
    color: #565757
}
p{
    margin-bottom: 0px !important;
    margin-top: 5px !important;
    
}
.margin-right-sm{
    margin-right: 10px;
}
.margin-left-sm{
  margin-left: 10px;
}
.digit-10{
    font-size: 12px;
    margin-left: 5px;
}
}
